[submodule "metadata/boards"]
	path = metadata/boards
	url = ../boards.git
	branch = master
[submodule "metadata/compilers"]
	path = metadata/compilers
	url = ../compilers.git
	branch = master
[submodule "external/firmata"]
	path = external/firmata
	url = https://github.com/firmata/arduino.git
